@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Crete+Round:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --cream: #FBE9D0;
    --orange: #e64833;
    --orange-shade: #ff1e00;
    --light-blue:#90aead;
    --dark-blue: #244855;

}

*{
    /* font-family: "Crete Round", serif; */
    font-family: "Josefin Sans", serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Color */
.light-blue-text {
    color: var(--light-blue);
}

.dark-blue-text {
    color: var(--dark-blue)
}

.orange-text {
    color: var(--orange);
}

.container-sm {
    padding: 30px 0 30px 0;
}

/* Navbar */
.custom-navbar {
    background-color: var(--cream);
}


.custom-navbar .nav-link {
    /* color: var(--orange) !important;  */

}

.custom-navbar .navbar-brand {
    color: var(--orange) !important; 
    font-weight: 700;
}

/* Footer */
.footer {
    background-color: var(--cream)
}

/* Carousel */
.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Newsletter container / subscritione */
.newsletter-container {
    border: 2px solid black;
    border-radius: 15px;
}

.newsletter-container button {
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    transition: box-shadow 0.3s ease; 
  }
  
.newsletter-container button:hover {
    background-color: var(--orange);
    box-shadow: 0px 5px ;
}
  
input.form-control {
    border: 2px solid #ccc;
    transition: border-color 0.5s ease;
}

input.form-control:focus {
    border-color: var(--orange); 
    box-shadow: 0 0 5px var(--orange);
    outline: none; 
}

/* Meet the team section*/
.card {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

/* .card:hover {
    transform: translateY(-10px);
} */


.img1 img {
    height: 200px;
    width: 100%;
}

.img2 img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid var(--dark-blue);
    margin-top: -80px;
}

.card:hover .img2 img {
    border-color: var(--orange);
    transition: 0.3s;
}

.main-text {
    padding: 30px 0;
    text-align: center;
}

.main-text h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}

.main-text p {
    font-size: 20px;
    padding: 0 35px;
}

.socials {
    text-align: center;
    padding-bottom: 20px;
}

.socials i {
    font-size: 20px;
    color: var(--dark-blue);
    padding: 0 10px;
    cursor: pointer;
}

/* Mission */
.large-icon {
    font-size: 11rem;
}

.mission-card:hover h2 {
    color: var(--orange);
}


/* Latest wellness */
.article-img {
    object-fit: cover;
    width: 160px;
    height: 160px;
  }
  
.arch-container {
    width: 100%;
    overflow: hidden;
}

.arch-image {
    width: 100%;
    border-top-left-radius: 50%; 
    border-top-right-radius: 50%; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: auto; 
    object-fit: cover; 
    margin-top: 50px;
}
  

/* Contact us */
.contact-section {
    padding: 50px;
}

.contact-btn {
    background-color: var(--orange);
    color: #ffffff;
    font-size: 18px;
    padding: 5px 10px;
    border: 2px solid var(--orange);
    border-radius: 15px;
    transition: box-shadow 0.3s ease; 
}

.contact-btn:hover {
    background-color: var(--orange-shade);
}


.follow-us {
    margin-top: 20px;
}
.follow-us a {
    color: #e74c3c;
    font-size: 24px;
}
.illustration {
    max-width: 500px;
}

select.topic-select:focus, 
input.form-control:focus,
textarea.form-control:focus {
    border-color: var(--orange); 
    box-shadow: 1px 1px 5px var(--orange);
    outline: none; 
}


/* Address */
.address-section img {
    max-width: 100%;
    height: auto;
}
  
.address-section p {
    color: #333;
 }
  

 /* Explore */
.image-container {
    position: relative;
    overflow: hidden;
    
}
  
.image-container img {
    display: block;
    object-fit: cover;
}
  
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
  
.image-container:hover .image-overlay {
    opacity: 1;
}
  
.image-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.image-description {
    font-size: 1rem;
}
  
.explore button {
    padding: 10px 20px;
    color: white;
    border: 2px solid var(--orange);
    cursor: pointer;
}
  
.explore button:hover {
    background-color: var(--orange);
    color: white;
}
  
